.wrapper {
    background-color: black;
}

/* =============
    TYPOGRAPHY
================ */

h1, h2 {
    font-family: var(--heading-font-family);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--neutral-1);
    text-shadow: var(--heading-shadow);
}

h1 {
    font-size: var(--size-48);
}

h2 {
    font-size: var(--size-40);
}

.aims-text,
.un-goal-title {
    font-family: var(--heading-font-family);
    font-size: var(--size-32);
    font-weight: 600;
}

.aims-title,
.un-goal-text {
    font-family: var(--subheading-font-family);
    font-weight: 300;
    font-style: italic;
}

.aims-text,
.un-goal-text,
main p {
    color: var(--brand-secondary-1-t1);
}

.aims-title,
.un-goal-title {
    color: var(--neutral-2);
}

.aims-title {
    font-size: var(--size-24);
    text-transform: uppercase;
}

.un-goal-text,
main p {
    font-size: var(--size-20);
}

main p {
    font-family: var(--paragraph-font-family);
    font-weight: 300;
}

.timeline .event,
.timeline .event-date {
    font-size: var(--size-24);
}

.timeline .event {
    font-family: var(--heading-font-family);
    font-weight: 600;
    color: var(--neutral-1);
}

.timeline .event-date {
    font-family: var(--subheading-font-family);
    font-weight: 300;
    font-style: italic;
    color: var(--accent-secondary-1-t1);
}


.team .name,
.sdu-subtitle {
    font-weight: 600;
}

.team .name {
    font-family: var(--heading-font-family);
    font-size: var(--size-24);
    color: var(--brand-secondary-2);
}

.sdu-subtitle {
    font-family: var(--heading-font-family);
    font-size: var(--size-32);
}

.team .role,
.prototype-version,
.pj-team-name,
.prototype .name span {
    font-family: var(--subheading-font-family);
    font-weight: 300;
    font-style: italic;
}

.team .role,
.prototype .name span {
    font-size: var(--size-20);
}

.prototype-version {
    font-size: var(--size-24);
    text-transform: uppercase;
}

.prototype-version span {
    text-transform: lowercase;
}

.pj-team-name {
    font-size: var(--size-28);
}

.team .role,
.sdu-subtitle,
.team .pj-team-name,
.team .prototype span {
    color: var(--neutral-3);
}

.sdu-subtitle,
.prototype-version {
    color: var(--neutral-2);
}


/* 
{
    font-family: var(-- -font-family);
    font-size: var(--size-);
    color: var(--);
} */


/* =============
    
================ */



/* =============
    
================ */



/* =============
    
================ */



/* =============
    
================ */